In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#**9.Write a Pandas program to create a Pivot table and find the total sale amount region wise, manager wise, sales man wise. .(refer sales_data table)**

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/MyDrive/Query datasets/salespivot.csv')
region_pivot = pd.pivot_table(df , values='Sale_amt', index='Region', aggfunc='sum')
manager_pivot = pd.pivot_table(df , values='Sale_amt', index='Manager', aggfunc='sum')
salesperson_pivot = pd.pivot_table(df, values='Sale_amt', index='SalesMan', aggfunc='sum')
print("Total Sale Amount Region-wise:\n", region_pivot)
print("\nTotal Sale Amount Manager-wise:\n", manager_pivot)
print("\nTotal Sale Amount Salesperson-wise:\n", salesperson_pivot)

Total Sale Amount Region-wise:
          Sale_amt
Region
Central  343239.0
East     169460.0
West     105424.0

Total Sale Amount Manager-wise:
          Sale_amt
Manager
Douglas   78836.0
Hermann  204698.0
Martha   261426.0
Timothy   73163.0

Total Sale Amount Salesperson-wise:
            Sale_amt
SalesMan
Alexander  131076.0
David        6075.0
Diana       40500.0
Karen       40500.0
Luis       150948.0
Michael     38336.0
Shelli      25000.0
Sigal       28750.0
Stephen     67088.0
Steven      89850.0

#**10.Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight the negative numbers red and positive numbers black.**

In [3]:
import pandas as pd
import numpy as np
data = np.random.randn(10, 4)
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])
def color_negative_red(val):
    color = 'red' if val < 0 else 'black'
    return f'color: {color}'
styled_df = df.style.applymap(color_negative_red)
styled_df

#**11.Create a dataframe of ten rows, four columns with random values. Convert some values to nan values. Write a Pandas program which will highlight the nan values.**

In [10]:
import pandas as pd
import numpy as np
data = np.random.randn(10, 4)
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])
df.loc[[2, 4, 6 ,8], 'B'] = np.nan
def highlight_nan(val):
    return 'background-color: yellow' if pd.isna(val) else ''
styled_df = df.style.applymap(highlight_nan)
styled_df

#**12.Create a dataframe of ten rows, four columns with random values. Write a Pandas program to set dataframe background Color black and font color yellow.**

In [5]:
import pandas as pd
import numpy as np
data = np.random.randn(10, 4)
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])
styled_df = df.style.set_properties(**{'background-color': 'black', 'color': 'yellow'})
styled_df

#**13.Write a Pandas program to detect missing values of a given DataFrame. Display True or False.**

In [6]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/MyDrive/Query datasets/order.csv')
missing_values = df.isnull()
print(missing_values)

    ord_no  purch_amt  ord_date  customer_id  salesman_id
0    False      False     False        False        False
1     True      False     False        False        False
2    False      False      True        False        False
3    False      False     False        False         True
4     True      False     False        False        False
5    False      False     False        False        False
6     True      False     False        False        False
7    False      False     False        False         True
8    False      False     False        False        False
9    False      False     False        False        False
10    True      False     False        False        False
11   False      False     False        False         True

#**14. Write a Pandas program to find and replace the missing values in a given DataFrame which do not have any valuable information.**

In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/MyDrive/Query datasets/order.csv')
fill_values = df.fillna(0)
print(fill_values)

     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       0.0     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26           0         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          0.0
4       0.0     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       0.0    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          0.0
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      0.0      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          0.0

#**15.Write a Pandas program to keep the rows with at least 2 NaN values in a given DataFrame.**

In [8]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/MyDrive/Query datasets/customer.csv')
nan_values = df.isna().sum(axis=1)
df = df[nan_values >= 2]
print(df)

    ord_no  purch_amt ord_date  customer_id
0      NaN        NaN      NaN          NaN
3      NaN        NaN      NaN          NaN
11     NaN        NaN      NaN          NaN

#**16 Write a Pandas program to split the following dataframe into groups based on school code. Also check the type of GroupBy object.**

In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/drive/MyDrive/Query datasets/school.csv')
grouped = df.groupby('school')
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7e43d6cd3910>